var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('lx-tooltip',_vm._b({staticClass:"root lx-status-badge",attrs:{"offset":"10"}},'lx-tooltip',_vm.$attrs,false),[_c('button',{staticClass:"tooltip-target",class:_vm.cssClass,on:{"click":function($event){$event.stopPropagation();}}},[_c('div',{staticClass:"text"},[_vm._v(_vm._s(_vm.name))])]),(_vm.description)?_c('template',{slot:"popover"},[_c('div',{staticClass:"tooltip-content"},[_vm._v(_vm._s(_vm.description))])]):_vm._e()],2)}
var staticRenderFns = []

export { render, staticRenderFns }