var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('tippy',_vm._g(_vm._b({ref:"menuElement",staticClass:"root lx-menu-new",attrs:{"theme":"body-menu-new","zIndex":"13","interactive":"","animation":"shift-away","trigger":_vm.trigger,"placement":_vm.placement,"onShow":_vm.onTippyShow},scopedSlots:_vm._u([{key:"trigger",fn:function(){return [_vm._t("trigger")]},proxy:true}],null,true)},'tippy',Object.assign({}, {offset: 0,
    arrow: false,
    theme: 'light'},
    _vm.$attrs),false),_vm.$listeners),[_c('no-ssr',[_c('div',{staticClass:"menu-content",on:{"click":function($event){_vm.closeOnClick && _vm.closeMenu()}}},[_vm._t("default")],2)])],1)}
var staticRenderFns = []

export { render, staticRenderFns }