var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('div',{staticClass:"root lx-switch-new",class:{ active: _vm.value },attrs:{"disabled":_vm.disabled},on:{"click":function($event){$event.stopPropagation();$event.preventDefault();return _vm.onClick.apply(null, arguments)}}},[_c('input',{attrs:{"role":"checkbox","type":"checkbox","disabled":_vm.disabled},domProps:{"checked":_vm.value}}),(_vm.loading)?_c('lx-skeleton-loader',{staticClass:"loader"}):_vm._e()],1)}
var staticRenderFns = []

export { render, staticRenderFns }