var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('div',{staticClass:"lx-rating-new"},[_c('div',{staticClass:"stars-block"},[_c('div',{staticClass:"stars stars-back",class:{ active: _vm.active }},_vm._l((5),function(i){return _c('button',{key:i,staticClass:"star",class:{
        'star-set': i <= _vm.valueNum,
        'star-hovered': i <= _vm.hovered,
        },attrs:{"type":"button","disabled":!_vm.active},on:{"click":function($event){return _vm.onClickStar(i)},"focus":function($event){return _vm.onMouseOver(i)},"blur":_vm.onMouseLeave,"mouseover":function($event){return _vm.onMouseOver(i)},"mouseleave":_vm.onMouseLeave}},[_c('lx-icon',{staticClass:"star-icon",attrs:{"icon":"star-3","size":"20,19"}}),(i === _vm.fractionIndex)?_c('lx-icon',{staticClass:"fraction-star-icon",attrs:{"icon":"star-3","size":"20,19"}}):_vm._e()],1)}),0)])])}
var staticRenderFns = []

export { render, staticRenderFns }