var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('div',{staticClass:"lx-slider"},[_c('no-ssr',[_c('vue-slider',_vm._g(_vm._b({scopedSlots:_vm._u([{key:"tooltip",fn:function(props){return [_vm._t("tooltip",function(){return [_vm._v("\n          "+_vm._s(props.value)+"\n        ")]},null,props)]}}],null,true)},'vue-slider',_vm.$attrs,false),_vm.$listeners)),_c('lx-skeleton-loader',{staticClass:"slider-loader",attrs:{"slot":"placeholder","fill":""},slot:"placeholder"})],1)],1)}
var staticRenderFns = []

export { render, staticRenderFns }