var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('section',{staticClass:"root lx-tab",class:{ 'tab-active': _vm.$parent.activeTab === _vm.value }},[_c('transition',{attrs:{"name":"fade"},on:{"enter":_vm.beforeEnterTab,"before-leave":_vm.beforeLeaveTab,"after-leave":_vm.afterLeaveTab}},[(_vm.visible)?_c('div',{staticClass:"tab-container",style:({ 'display': _vm.$parent.activeTab === _vm.value ? 'block' : 'none' })},[_vm._t("default")],2):_vm._e()])],1)}
var staticRenderFns = []

export { render, staticRenderFns }