var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('div',{staticClass:"root lx-hidden-text",class:{ active: _vm.active },style:({ maxHeight: !_vm.active && 'unset' })},[_c('div',{ref:"container",staticClass:"text-container",class:{ hidden: _vm.hidden },style:({ maxHeight: _vm.maxHeight })},[_c('p',{ref:"text",staticClass:"text"},[_vm._t("default")],2)]),(_vm.hidden)?[_c('lx-button-private',{staticClass:"lx-empty-btn more-btn",on:{"click":_vm.deactivate}},[_vm._v("More")])]:_vm._e()],2)}
var staticRenderFns = []

export { render, staticRenderFns }