var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('div',{staticClass:"root lx-checkbox",class:{ 'with-error': _vm.error }},[_c('div',{staticClass:"square",class:{ active: _vm.value, disabled: _vm.disabled },on:{"click":_vm.onClick}}),_c('label',[_c('input',{attrs:{"role":"checkbox","type":"checkbox","disabled":_vm.disabled},domProps:{"checked":_vm.value},on:{"click":_vm.onClick}}),_c('span',[_vm._t("default")],2)])])}
var staticRenderFns = []

export { render, staticRenderFns }