var render = function () {var _vm=this;var _h=_vm.$createElement;var _c=_vm._self._c||_h;return _c('div',{staticClass:"root lx-checkbox-new",class:{ 'with-error': _vm.error, active: _vm.value, some: _vm.someSelected, disabled: _vm.disabled }},[_c('div',{staticClass:"square",on:{"click":_vm.onClick}}),_c('label',[_c('input',{attrs:{"role":"checkbox","type":"checkbox","disabled":_vm.disabled},domProps:{"checked":_vm.value},on:{"click":_vm.onClick}}),_c('span',[_vm._t("default")],2)])])}
var staticRenderFns = []

export { render, staticRenderFns }